* {
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body {
    background:#131313;
}

.universal__contactInfo {
    width: 100%;
    height:10vh; 
    position: absolute;
    text-align:center;
    color:grey;
}

.universal__contactInfo p {
    padding: 3vh 0;
    font-size:1rem;
    font-famile:sans-serif;
    whtie-space:pre-wrap;
    line-height:120%;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('./../Images/background.png');
    background-size: cover;
    background-position:center;
    
    /*keeps bacgkround in one place*/
    position:relative;
    background-attachment:fixed;
}

.logo {
    width: 70px;
    cursor:pointer;
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position:absolute;/*scrolls with user if fixed*/
    left:5vw;
}

.navbar h1 {
    width: 120px;
    cursor:pointer;
}

.navbar ul li {
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position:relative;
}

.navbar ul li a {
    text-decoration:none;
    color: white;
    text-transform:uppercase;
}

.navbar button {
    width: 100px;
    padding: 15px 5px;
    text-align:center;
    border-radius: 25px;
    border:none;
    font-weight: bold;
    background:#009688;
    color:white;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    text-transform:uppercase;
    transition: .3s;
}

.navbar button:hover {
    background:white;
    color:#131313;
}

.navbar ul li::after {
    content: '';
    height:3px;
    width:0;
    background: #009688;
    position:absolute;
    left:0;
    bottom:-5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width:100%;
}

/* index */
.content {
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
    color:white;
}

.content h1 {
    font-size:7vh;
    margin-top:80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button{
    width: 200px;
    padding: 15px 0;
    text-align:center;
    margin: 20px 10px;
    font-weight:bold;
    border-radius: 25px;
    border: 2px solid #009688;
    background:transparent;
    color:white;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}

span{
    background: #009688;
    height:100%;
    width:0;
    border-radius: 25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition: .5s;
}

button:hover span {
    width:100%;
}

/*about us section*/

.main__aboutUs {
    width: 100%;
    height: 30vh;
    padding:20vh 0;
    background:#131313;
    color:white;
}

.main__aboutUs h3 {
    font-size:3rem;
    padding-bottom: 5vh;
    position:absolute;
    margin-top:-5vh;
    left:10vw;
}

.main__aboutUs p {
    color:grey;
    padding:2rem 10vw;;
    font-size:1.3rem;
    width:75%;
}

/* services */

.serivces__all {
    position:absolute;
    margin: 20vh 0;
}

#services__all-bottom {
    transform: translateY(-35vh);
}

.services__btn {
    width: 100%;
    transform: translateY(13vh);
    text-align:center;
    color:white;
}

.services__btn button {
    width: 300px;
    padding: 20px 0;
    text-align:center;
    margin: 20px 10px;
    border-radius: 27px;
    font-size:1.3rem;
    border: 2px solid #009688;
    background:transparent;
    color:white;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}

.services__examples {
    width: 90%;
    margin: auto;
    padding: 20vh 0;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.services__examples-item {
    color:white;
    width:12vw;
    height:27vh;
    background:linear-gradient(to top, #009688 0%, #30d5c8 100%);
    padding: 2rem;
    border-radius:10px;
    
}

.services__examples-item img {
    height: 15vh;
    display:block;
    padding:0;
    margin: 0 auto;
    width:100%;
    object-fit:contain;
}

.services__examples-item-text {
    padding:10px 0;
    width: 200px;
    text-align:center;
    align-items:center;
    transform: translateX(-8%);
}

.services__content {
    background:#31313190;
    margin:0 5vw;
    border-radius:4px;
    transform: translateY(-20vh);
}

.list__titles {
    width: 100%;
    display:flex;
    color:#009688;
    padding: 40px 0;
    justify-content: space-around;
    align-items:center;
    font-size:2rem;
}

.tests {
    width: 100%;
    padding: 0 0 20px 0;
    display:flex;
    justify-content: space-around;
    display:flex;
    align-items:center;
}

.tests ul li {
    color:white;
    list-style: none;
    text-align:center;
    padding:10px 0;
}

/* Doctors */

.doctors__container {
    padding:0 1rem;
    align-items:center;
    justify-content:center;
    display:flex;
}

.heading {
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 90%;
    color: white;
    padding: 13rem 6% 0 6%;
    margin: 0 3rem;
    min-width:1250px;
}

.heading h1 {
    font-weight: lighter;
    font-family: "Trebuchet MS";
}

.wrapper {
    display:flex;
    align-items:center;
    padding: 0 1rem;
    min-width: 1400px;
}

.wrapper-img {
    padding: 2rem 2rem;
}

.wrapper-img img {
    height: 80%;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 2px 15px ;
    object-fit:cover;
    transform: translateX(20%);
    transition: .5s;
}

.wrapper-img:nth-child(1) {
    transform: translateX(10%);
}

.wrapper-img:nth-child(2) {
    transform: translateX(-1%);
}

.wrapper-img:nth-child(3) {
    transform: translateX(1%);
}

.wrapper-img:nth-child(4) {
    transform: translateX(-1%);
}

.wrapper-img img:hover {
    cursor:pointer;
    height: 85%;
    width: 65%;
    transform: translate(14%,0);
}

.doctors__contact-info {
    bottom: -13vh;
    width: 100%;
    height:10vh; 
    position: absolute;
    text-align:center;
    color:grey;

}

.doctors__contact-info p {
    padding: 3vh 0;
    font-size:1rem;
    font-famile:sans-serif;
    whtie-space:pre-wrap;
    line-height:120%;
}
